.ipynb_checkpoints
*/.ipynb_checkpoints/*

# macOS
.DS_Store

profile_default/
ipython_config.py

venv/
.env/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

.vscode/
.idea/

# Project temp outputs
Journal\Opgave4\CatData\_tmp_standardized
Journal\Opgave4\CatData\**\_tmp*/
Journal/Opgave4/CatData/_tmp_standardized/bengal/1b2a68f85a32410fb3fd776927a2f4ef.jpg
